body {
  color: white;
  background-color: #565759;
  font-family: "Lato", sans-serif;
  overflow-x: hidden; }

a {
  color: yellow;
  text-decoration: none; }

.hero-image {
  width: 100%;
  height: 130vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; }
  .hero-image.slide-1 {
    background-image: url("/themes/projproj/images/hero/hero-1.jpg");
    animation: fade 40s infinite; }
  .hero-image.slide-2 {
    background-image: url("/themes/projproj/images/hero/hero-2.jpg");
    animation: fade2 40s infinite; }
  .hero-image.slide-3 {
    background-image: url("/themes/projproj/images/hero/hero-3.jpg");
    animation: fade3 40s infinite; }
  .hero-image.slide-4 {
    background-image: url("/themes/projproj/images/hero/hero-4.jpg");
    animation: fade4 40s infinite; }

@keyframes fade {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade4 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

footer {
  background-color: #252022;
  min-height: 20em; }

header.subpage-header {
  background-image: url(/themes/projproj/images/hero/hero-1.jpg);
  padding: 0.5em;
  border-left: 1em solid #ffff00;
  background-size: cover;
  display: flex;
  align-items: center; }
  header.subpage-header h1 {
    margin: 0;
    display: inline-block; }
  header.subpage-header nav {
    display: inline-block; }
    header.subpage-header nav ul.navigation {
      list-style: none;
      padding: 0;
      margin-left: 1em; }
      header.subpage-header nav ul.navigation li {
        display: inline-block;
        margin-right: 1.5em; }
        header.subpage-header nav ul.navigation li a {
          color: white; }

main#content div.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%; }

header.hero {
  width: 100%;
  height: 100vh;
  display: table; }
  header.hero .topbar,
  header.hero .main {
    display: table-row; }
    header.hero .topbar > div,
    header.hero .main > div {
      display: table-cell; }
  header.hero .highlight {
    background-color: #ffff00;
    width: 25em;
    height: 6rem; }
  header.hero .sidebar {
    width: 25em;
    background: linear-gradient(to bottom, transparent 0%, rgba(86, 87, 89, 0.65) 100%); }
    header.hero .sidebar ul {
      list-style: none;
      padding: 0; }
      header.hero .sidebar ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        display: block;
        padding: 0.5em 1em; }
  header.hero .title-area {
    padding: 2rem;
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, rgba(86, 87, 89, 0.65) 100%); }
    header.hero .title-area h1 {
      font-size: 4rem;
      color: white;
      font-family: sans-serif;
      text-transform: capitalize; }

body#home h2 {
  font-size: 3em;
  margin: 1rem 0; }

body#home svg {
  z-index: -800; }

body#home main#content {
  position: relative;
  padding: 1em 0; }
  body#home main#content .hero-image-fadeout {
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(86, 87, 89, 0.65) 0%, #565759 100%);
    position: absolute;
    top: 0;
    z-index: -999; }

body#home section {
  margin-bottom: 4rem; }

body#home section#archives .featured-images {
  display: flex; }
  body#home section#archives .featured-images > div {
    flex: 1;
    padding: 0.5em; }
    body#home section#archives .featured-images > div img {
      width: 100%; }

body#home section#tours {
  display: flex;
  position: relative; }
  body#home section#tours .description {
    flex: 1;
    text-align: right; }
  body#home section#tours .featured-images {
    flex: 1; }
    body#home section#tours .featured-images .top {
      display: flex; }
      body#home section#tours .featured-images .top > div {
        flex: 1;
        padding: 0.5em; }
        body#home section#tours .featured-images .top > div img {
          width: 100%; }
    body#home section#tours .featured-images .bottom div {
      flex: 1;
      padding: 0.5em; }
      body#home section#tours .featured-images .bottom div img {
        width: 100%; }

body#home section#quote p {
  font-size: 2rem;
  font-weight: lighter; }

body#home section#vpb {
  display: flex;
  position: relative; }
  body#home section#vpb .description {
    flex: 1; }
  body#home section#vpb .featured-images {
    flex: 1; }
    body#home section#vpb .featured-images div {
      flex: 1;
      padding: 0.5em; }
      body#home section#vpb .featured-images div img {
        width: 100%; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }
