.access-info {
    position: absolute;
    left: -9999em;
}

img {
    max-width: 100%;
}

body {
    background-color: #f7ba61;
}

.container {
    background: #fff;
}

#neatline #waypoints {
    overflow-y: visible;
    max-width: 400px;
}

#comment-form-body {
    width: 100%;
}

#flash ul,
ul.error {
    padding-left: 0;
}

#flash li,
ul.error li {
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 5px;
}

#flash li.success {
    background-color: #dff0d8;
}

ul.error li {
    background-color: #f2dede;
}

.element-text {
    margin-top: 10.5px;
}

/*
@media (min-width: 768px) {
    .id7-right-border {
        background-image: url(https://www2.warwick.ac.uk/static_site/fac/arts/film/rhsborder-filmtv-4.jpg);
        position: fixed;
        top: 0;
        z-index: 0;
        width: 50%;
        height: 100%;
        right: 0;
        background-repeat: no-repeat;
        background-position: left top;
    }
}

@media (min-width: 768px) {
    .id7-left-border {
        background-image: url(https://www2.warwick.ac.uk/static_site/fac/arts/film/lhsborder-filmtv-4.jpg);
        position: fixed;
        top: 0;
        z-index: 0;
        width: 50%;
        height: 100%;
        left: 0;
        background-repeat: no-repeat;
        background-position: right top;
    }
}
*/