header.subpage-header {
  background-image: url(/themes/projproj/images/header.jpg);
  padding: 0.5em;
  border-left: 1em solid $color-highlight;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    display: inline-block;
    a {
      color: white;
    }
  }
}
