$header-fade-stop-color: rgba(86, 87, 89, 0.65);

header.hero {
  width: 100%;
  height: 100vh;
  display: table;

  .topbar, .main {
    display: table-row;

    &>div {
      display: table-cell;
    }
  }

  .highlight {
    background-color: $color-highlight;
    width: 25em;
    height: 6rem;
  }

  .sidebar {
    width: 25em;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $header-fade-stop-color 100%);
  }

  .title-area {
    padding: 2rem;
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, $header-fade-stop-color 100%);
    h1 {
      font-size: 4rem;
      color: white;
      font-family: sans-serif;
      text-transform: capitalize;
    }
  }
}

body#home {

  h2 {
    font-size: 3em;
    margin: 1rem 0;
  }

  main#content {
    position: relative;
    padding: 1em 0;

    .hero-image-fadeout {
      width: 100%;
      height: 30vh;
      background: linear-gradient(to bottom, $header-fade-stop-color 0%, $color-background 100%);
      position: absolute;
      top: 0;
      z-index: -999;
    }

    div.container {
      max-width: 1000px;
      margin: 0 auto;
      width: 100%;
    }
  }

  section#archives {
    .featured-images {
      display: flex;
      &>div {
        flex: 1;
        padding: 0.5em;
        img {
          width: 100%
        }
      }
    }
  }

  section#tours {
    display: flex;
    .description {
      flex: 1;
      text-align: right;
    }
    .featured-images {
      display: flex;
      flex: 1;
      .top {
        display: flex;
        &>div {
          flex: 1;
          padding: 0.5em;
          img {
            width: 100%
          }
        }
      }
      .bottom div {
        flex: 1;
        padding: 0.5em;
        img {
          width: 100%
        }
      }
      
    }
  }
}
