body#items.browse {
  .masonry-item,
  .sizer-element {
    width: 33%;
    @media screen and (max-width: $break_medium) {
      width: 50%;
    }
    @media screen and (max-width: $break_small) {
      width: 100%;
    }
  }
}

.item-img {
  text-align: center;
}
