body#items.browse {
  .masonry-item,
  .sizer-element {
    width: 33%;
    @media screen and (max-width: $break_medium) {
      width: 50%;
    }
    @media screen and (max-width: $break_small) {
      width: 100%;
    }
  }
}

.item-img {
  text-align: center;
}

.filter-array {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  padding-top: 0.5em;
  .filter {
    padding: 0.2em 0.8em;
    cursor: pointer;
    background: yellow;
    color: #565759;
    border-radius: 5px;
  }
}
