body.items.show {
  .container {
    h1 {
      margin-bottom: 0;
    }

    #collection p {
      margin-top: 0;
    }
  }
}

.element-texts {
  table {
    border-spacing: 1rem;
    border-collapse: separate;
    tbody tr {
      th {
        vertical-align: top;
        text-align: left;
      }
    }
  }

  .transcript-toggle:checked ~ #show-transcript {
    display: block;
  }
}

#show-transcript {
  display: none;
}

.item-file.image-jpeg {
  text-align: center;
  margin: 2em 0;
  img {
    max-height: 30em;
    max-width: 100%;
  }
}

.outputs {
  padding: 1rem;
  border-radius: 4px;
  background: grey;
  margin: 1rem;
  h3 {
    margin: 0;
  }
}

#item-tags a {
  padding: 0.2em 0.5em;
  background: #262022;
  font-size: smaller;
  border-radius: 4px;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  overflow-wrap: break-word;
  display: inline-block;
}
