.element-texts {
  table {
    border-spacing: 1rem;
    border-collapse: separate;
    tbody tr {
      th {
        vertical-align: top;
        text-align: left;
      }
    }
  }
}

.item-file.image-jpeg {
  text-align: center;
  margin: 2em 0;
  img {
    max-height: 30em;
    max-width: 100%;
  }
}
