body.neatline.show {
  main#content .container {
    padding: 0;
    max-width: none;

    h1 {
      max-width: $column-width;
      margin: 0 auto;
      width: 100%;
      padding: 1.5rem;
    }
  }

  @media screen and (max-width: $break_medium) {
    #neatline-map {
      display: flex;
      flex-direction: column;
      height: auto;
      .olMapViewport {
        height: 60vh !important;
      }
    }

    #static-bubble {
      position: initial;
      max-width: none;
      max-height: none;
      background: #242321;
      color: white;
      font-family: "Josefin Sans";
      .title {
        font-size: 1.5rem;
      }
      .content {
        font-family: "Open Sans", sans-serif;
      }
      a.btn {
        &::before {
          content: ">> ";
        }
      }
    }

    #neatline #waypoints {
      top: 0;
      right: 0;
    }
  }
}

#waypoints {
  background: $color-highlight;
  a {
    color: $color-dark;
    font-family: "Josefin Sans";
  }
}
