body.neatline.show {
  main#content .container {
    padding: 0;
    max-width: 1400px;
  }

  #neatline {
    margin-bottom: 2em;
  }

  #neatline-map {
    display: flex;
    flex-direction: row-reverse;

    @media screen and (max-width: $break_medium) {
      flex-direction: column;
    }
    height: auto;
    .olMapViewport {
      height: 60vh !important;
    }
    .nl-fullscreen {
      display: none;
    }
  }

  #static-bubble {
    position: initial;
    max-width: none;
    max-height: none;
    color: white;
    font-family: "Josefin Sans";
    display: block !important;

    @media screen and (min-width: $break_medium) {
      flex-direction: column;
      flex: 0 0 28em;
    }
    background: #565759;
    .title {
      font-size: 1.5rem;
    }
    .content {
      font-family: "Open Sans", sans-serif;
    }
    .close {
      display: none;
    }
    a.btn {
      &::before {
        content: ">> ";
      }
    }
  }

  #neatline #waypoints {
    top: 0;
    right: 0;
  }
}

#waypoints {
  background: $color-highlight;
  a {
    color: $color-dark;
    font-family: "Josefin Sans";
  }
}
