nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        color: white;
        text-decoration: none;
        display: block;
      }
    }
  }
}

nav.vertical {
  li {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.5em;
    position: relative;
    font-family: "Josefin Sans";
    &::before {
      content: ">> ";
      color: yellow;
    }

    a {
      user-select: none;
      display: inline;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.67);
        filter: blur(18px);
      }
    }
  }
}

nav.horizontal {
  display: inline-block;
  ul.navigation {
    margin-left: 1em;
    li {
      display: inline-block;
      margin-right: 1.5em;
    }
  }
  label[for="burger-check"] {
    display: none;
  }
}

.burger-check {
  display: none;
}

nav.horizontal {
  @media screen and (max-width: $break_medium) {
    label[for="burger-check"] {
      display: initial !important;
      margin: 0 1em;
      user-select: none;
      cursor: pointer;
    }

    .burger-check:checked ~ .navigation {
      display: block;
    }

    ul.navigation {
      display: none;
      position: absolute;
      left: 0;
      background-color: #262022;
      padding: 1em;
      right: 0;
      margin: 0;
      margin-top: 1rem;
      border-bottom: 2px solid white;
      border-top: 2px solid yellow;
      li {
        display: block;
        margin: 1.5rem 0;
        font-size: 1.5em;
        font-family: "Josefin Sans";
        &::before {
          content: ">> ";
          color: yellow;
        }
        a {
          user-select: none;
          display: inline;
        }
      }
    }
  }
}
