nav {
    ul {
        list-style: none;
        padding: 0;
        li {
            a {
                color: white;
                text-decoration: none;
                display: block;
            }
        }
    }
}


.nav-tabs {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px;

    }

    .nav-tabs > li {
        border: 1px solid transparent;
        border-radius: 0.2em;
        cursor: default; 
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
      
      .nav-tabs > li.active {
        border: 1px solid #dddddd;
        border-bottom-color: #565759;
        border-top-left-radius: 0.1em;
        border-top-right-radius: 0.1em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        cursor: default; }
      
      
      .nav-tabs > li:hover:not(.active) {
        border: 1px solid #858687;
        border-bottom: 1px solid #dddddd;
        border-top-left-radius: 0.1em;
        border-top-right-radius: 0.1em;
        border-bottom-left-radius: 0em;
        border-bottom-right-radius: 0em;
        cursor: default; }

nav.vertical {
    li {
        display: block;
        margin: 1.5rem 0;
        font-size: 1.5em;
        position: relative;
        font-family: "Josefin Sans";
        &::before {
            content: ">> ";
            color: yellow;
        }
        a {
            user-select: none;
            display: inline;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.67);
                z-index: -500;
                filter: blur(18px);
            }
        }
    }
}

nav .items-nav li::before {
    content: ">> ";
    color: yellow;
}

nav.horizontal {
    display: inline-block;
    ul.navigation {
        margin-left: 1em;
        li {
            display: inline-block;
            margin-right: 1.5em;
        }
    }
    label[for="burger-check"] {
        display: none;
    }
}

.burger-check {
    display: none;
}

nav.horizontal {
    @media screen and (max-width: $break_medium) {
        label[for="burger-check"] {
            display: initial !important;
            margin: 0 1em;
            user-select: none;
            cursor: pointer;
        }
        .burger-check:checked~.navigation {
            display: block;
        }
        ul.navigation {
            display: none;
            position: absolute;
            left: 0;
            background-color: #262022;
            padding: 1em;
            right: 0;
            margin: 0;
            margin-top: 1rem;
            border-bottom: 2px solid white;
            border-top: 2px solid yellow;
            li {
                display: block;
                margin: 1.5rem 0;
                font-size: 1.5em;
                font-family: "Josefin Sans";
                &::before {
                    content: ">> ";
                    color: yellow;
                }
                a {
                    user-select: none;
                    display: inline;
                }
            }
        }
    }
}