nav {
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        color: white;
        text-decoration: none;
        display: block;
      }
    }
  }
}

nav.horizontal {
  display: inline-block;
  ul.navigation {
    margin-left: 1em;
    li {
      display: inline-block;
      margin-right: 1.5em;
    }
  }
}

.burger-check {
  display: none;
}
label[for="burger-check"] {
  display: initial !important;
}

label[for="burger-check"] {
  cursor: pointer;
}

.navigation {
  display: none;
}

.burger-check:checked ~ .navigation {
  display: block;
}

.navigation {
  position: absolute;
  left: 0;
  background-color: black;
  padding: 1em;
  right: 0;
  margin: 1.5em 0;
  li {
    display: block;
  }
}
