h1,
h2,
h3,
h4 {
    font-family: "Josefin Sans";
}

h4 {
    font-weight: lighter;
    font-size: 16pt;
}

.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}